.video-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* video styling */
.video-container video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  pointer-events: none; /* no interaction */
}

/* Responsive behavior */
@media (max-width: 450px) {
  .video-container {
    width: 90%;
  }
}

@media (min-width: 750px) {
  .video-container {
    width: 600px;
  }
}
